body{
    color: white;
    background-color: #101010;
}
#grid{
    display: grid;
    grid-template-areas:"t t"
                        "m m"
                        "e e";
    justify-content: center;
    align-items: center;
}
#title{
    grid-area: t;
    justify-self: center;
    justify-content: center;
    box-sizing: border-box;
}
#main{
    grid-area: m;
    justify-self: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
    border-style: solid;
    border-color: white;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
#button1{
    margin-left: 9rem;
}
#end{
    grid-area: e;
    justify-self: center;
    justify-content: center;
    box-sizing: border-box;
}
#imgs{
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    padding: 2rem;

}
.image{
    flex-direction: row;
    border-style: solid;
    border-color: white;
}
.image img{
    max-width: 600px;
    max-height: 800px;
    width: 100%;
    height: 100%;
}
a{
    text-align: center;
}